[Unit]
After=session-%i.scope

[Service]
User=USER
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/sh -c 'exec 3< /run/user/1000/keepxrunning-%I; flock 3; systemd-notify --ready; exec 4< /run/user/1000/keepsession-%I; exec flock 4'
# sh terminates if file does not exist
ExecStopPost=/usr/bin/bash -c 'if { exec 5< /run/user/1000/keepsession-%I; } 2> /dev/null; then flock 5; fi'
SyslogIdentifier=mytransUSER@%I

# kill -INT "$keeperpid"
