pkgbase = myhomex
	pkgdesc = My GUI utils
	pkgver = 0.5
	pkgrel = 1
	url = https://github.com/user827/dotfiles.git
	arch = any
	license = Apache
	depends = alacritty
	depends = awesome
	depends = gnome-shell
	depends = gdm
	depends = gnome-shell-extension-appindicator
	depends = pipewire-audio
	depends = pipewire-pulse
	depends = pipewire-alsa
	depends = wayland
	depends = xorg-xwayland
	depends = gnome-ssh-askpass4-git
	depends = wl-clipboard
	depends = fwupd
	depends = firefox
	depends = libnotify
	depends = mpv
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = otf-ipafont
	depends = ttf-sourcecodepro-nerd
	depends = nsxiv
	depends = sound-theme-freedesktop
	depends = xdotool
	depends = xorg-server
	depends = xorg-xinit
	depends = xss-lock
	depends = xsecurelock
	depends = yt-dlp
	depends = zathura-djvu
	depends = zathura-pdf-mupdf
	optdepends = chromium

pkgname = myhomex