[Unit]
Description=Xserver watcher at %I
BindsTo=awesome@%i.service
Before=awesome@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/usr/bin/true
ExecStart=/usr/bin/true
#ExecStart=/usr/bin/sh -c 'flock "%t/keepxrunning-$XDG_SESSION_ID" true'
#ExecStop=/usr/bin/kill -INT $XSERVERPID
#ExecStop=/usr/bin/sh -c 'echo x > %t/mytrans-session-stopping-$XDG_SESSION_ID.fifo'
#EnvironmentFile=%t/startx_environ-%I
