pkgbase = myhome
	pkgdesc = My cli utils
	pkgver = 0.4.2
	pkgrel = 2
	url = https://github.com/user827/dotfiles.git
	install = myhome.install
	arch = any
	license = Apache
	depends = bat
	depends = byobu
	depends = fd
	depends = fzf
	depends = git
	depends = inetutils
	depends = less
	depends = mutt
	depends = remind
	depends = ripgrep
	depends = tmux
	depends = unzip
	depends = wget
	depends = zsh
	depends = neovim
	depends = python-pynvim
	depends = shellcheck
	depends = bash-language-server
	depends = vim-language-server

pkgname = myhome